<div class="container text-center">
  <p><%= @restaurant.name %></p>
  <p>Category : <%= @restaurant.category %></p>
  <p>Location : <%= @restaurant.address %></p>
  <p>Phone number : <%= @restaurant.phone_number %></p>
  <hr>
  <div class="container">
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :content, label: "Review" %>
    <%= f.input :rating %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <hr>
</div>
  <div>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <p><%= review.rating %>/5</p>
          <p><%= review.content %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
